* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to top right, #3d6776 0%, #84798f 67%);
    font-family: 'Spartan', sans-serif
}

h1{
    font-family: 'Spartan';
}

#box {
    width:100px;
    height: 100px;
    background:yellow;
}

#preloader{
    margin: -8px;
    background: #000;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100; /*stack order*/
    display: fixed;
    animation: linear loading-complete 2.1s;
}

#loading-circle{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -125px;
    margin-left: -125px;
    text-align: center;
    opacity: 0;
    animation: linear loading-complete 1.8s;
    backdrop-filter: blur(0px);
}

@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');

