@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
#root {
  @apply h-[100vh] w-[100vw] overflow-x-hidden;
}

html {
  background-color: white;
  color: var(--text);
}

.grainy {
  filter: url(./grain.svg);
}

.verticleText {
  writing-mode: vertical-lr;
}

.absCenterBottom {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
