@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html,
#root {
  @apply h-[100vh] w-[100vw] overflow-x-hidden;
}

html {
  background-color: black;
  color: var(--text);
}

.grainy {
  filter: url(./grain.svg);
}

.verticleText {
  writing-mode: vertical-lr;
}
